{{define "content"}}
    <div class="container-fluid">
        <header>
            <h1>Code Editor</h1>
        </header>

        <form action="/interpret" method="POST">
            <div class="form-group">
                <textarea id="program-input" class="form-control form-control-sm text-info"
                          placeholder="Enter your Go source code here then click the Run button" style="height:45vh"
                          name="source" spellcheck="false">{{.Program}}</textarea>

                <input id="run" type="submit" name="submit" value="Run" class="form-control btn-success mt-2"/>
                <input id="clear" class="form-control mt-2 btn-danger" type="button" value="Clear" onclick=resetForm()>
                <br>
                <div id="output" class="container-fluid {{if .Error}}text-danger{{else}}text-dark{{end}} pre-scrollable mb-4">
                    {{.Message}}
                </div>
                <br>
                <h6>Save Your Program to the Code Library</h6>
                <input type="text" name="filename" class="form-control" placeholder="Name your program">
                <br>
                <input type="text" name="desc" class="form-control" placeholder="Describe your program">
                <br>
                <input type="text" name="user" class="form-control" placeholder="Enter your name">
                <br>
                <input id="save" type="submit" name="submit" value="Save" class="form-control btn-primary btn-block"/>
            </div>
        </form>
    </div>
    <script type="text/javascript">
    // Enables tab functionality in textarea
        let textarea = document.getElementById('program-input');
        textarea.onkeydown = function(e) {
            if(e.keyCode==9 || e.which==9){
                e.preventDefault();
                let s = this.selectionStart;
                this.value = this.value.substring(0,this.selectionStart) + "\t" + this.value.substring(this.selectionEnd);
                this.selectionEnd = s+1;
            }
        }

        function resetForm()
        {
            document.getElementById("program-input").value = "";
            document.getElementById("clear").blur();
        }


    </script>
{{end}}