{{define "content"}}
<header>
    <h1>Run Go Code Here</h1>
</header>
<form action="/interpret" method="POST">
    <div class="form-group">
        <textarea class="form-control form-control-sm text-info" style="height:40em" name="source"></textarea>
        <input type="submit" value="Run" class="form-control btn-default mt-2" />
    </div>
</form>
<div class="container-fluid {{if .Error}}text-danger{{else}}text-dark{{end}}">
    {{if .Message}}
        {{.Message}}
    {{else}}
        <p>Output will appear here</p>
    {{end}}
</div>
{{end}}