{{define "content"}}
    <div class="container-fluid">
        <header>
            <h1>Code Editor</h1>
        </header>

        <form action="/interpret" method="POST">
            <div class="form-group">
                <textarea id="program-input" class="form-control form-control-sm text-info"
                          placeholder="Enter your Go source code here then click the Run button" style="height:45vh"
                          name="source" spellcheck="false">{{.Program}}</textarea>
                <input type="submit" name="submit" value="Run" class="form-control btn-success mt-2"/>
                <br>
                <input type="text" name="filename" class="form-control" placeholder="Name your program">
                <br>
                <input type="text" name="desc" class="form-control" placeholder="Describe your program">
                <br>
                <input type="text" name="user" class="form-control" placeholder="Enter your name">
                <br>
                <input id="save" type="submit" name="submit" value="Save" class="form-control btn-primary btn-block"/>
            </div>
        </form>
    </div>
    <div class="container-fluid {{if .Error}}text-danger{{else}}text-dark{{end}} pre-scrollable mb-4" ,
         style="height:25vh;">
        <samp>{{.Message}}</samp>
    </div>
{{end}}