body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeIfCTRektfRkfwy-P-XhLON05jQPdgLunK7zfcXTVvyvlZnKs_Q");
    background-repeat: repeat;
}

.gopher{
    display: block;
    float: right;
    width: 20%;
}

.card-header .btn {
    text-decoration: none;
    color: cornflowerblue;
}

.card-header .btn[aria-expanded="true"] {
    color: black;
    font-size: larger;
    text-decoration: none;
}

#output {
    height: 25vh;
    outline: 1px solid lightgrey;
    font-family: Consolas, serif;
}

#prog-name {
    font-weight: bold;
    margin-right: 10px;
    width: 100px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: cornflowerblue;
}

#prog-desc {
    font-weight: normal;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    margin-right: 50px;
    width: 500px;
    color: dimgray;
}

#prog-user {
    max-width: 75px;
}

#prog-row > * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#prog-row > *:hover{
    overflow: visible;
    text-wrap: normal;
    white-space: normal;
    word-break: break-all;
}

#prog-row:hover {
    background-color: #cee8fd;
}


