body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeIfCTRektfRkfwy-P-XhLON05jQPdgLunK7zfcXTVvyvlZnKs_Q");
    background-repeat: repeat;
    
}

.gopher{
    display: block;
    float: right;
    width: 20%;
}